apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ storage_class }}
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer
allowVolumeExpansion: true
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: local-pv-{{ ansible_default_ipv4.address | replace('.', '-') }}
spec:
  capacity:
    storage: {{ storage_size }}
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: {{ storage_class }}
  local:
    path: /mnt/local-storage
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ ansible_hostname }}
